# 编译输出目录
x64/
botpy_WebView2/botpy_WebView2/
botpy_WebView2/x64/

# NuGet 包
packages/

# Visual Studio 临时文件
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# 编译产物
*.pdb
*.obj
*.aps
*.ilk
*.idb

# 日志文件
*.log
